<connectionStrings>
  <add name="CrawlerConnectionString" connectionString="Server=tcp:indexer.database.windows.net,1433;Initial Catalog=IndexerDB;Persist Security Info=False;User ID=asdfAdmin;Password=GhW-Z4x-v9Q-PNb;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=60;" providerName="System.Data.SqlClient" />
</connectionStrings>