<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crawler-mvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crawler-mvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>crawler-mvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$crawler-mvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CrawlerLibrary.Models.CrawlerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:crawler-mvc.database.windows.net,1433;Initial Catalog=crawler-mvc;User ID=crawl5552@crawler-mvc.database.windows.net;Password=c567cfb189#!" Name="Data Source=tcp:crawler-mvc.database.windows.net,1433;Initial Catalog=crawler-mvc;User Id=crawl5552@crawler-mvc.database.windows.net;Password=c567cfb189#!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrawlerLibrary.Models.CrawlerContext, CrawlerLibrary" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:crawler-mvc.database.windows.net,1433;Initial Catalog=crawler-mvc;User ID=crawl5552@crawler-mvc.database.windows.net;Password=c567cfb189#!" Name="Data Source=tcp:crawler-mvc.database.windows.net,1433;Initial Catalog=crawler-mvc;User Id=crawl5552@crawler-mvc.database.windows.net;Password=c567cfb189#!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CrawlerMVC.Models.ApplicationDbContext, CrawlerMVC" MigrationConfiguration="CrawlerMVC.Migrations.Configuration, CrawlerMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CrawlerLibrary.Models.CrawlerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:crawler-mvc.database.windows.net,1433;Initial Catalog=crawler-mvc;User Id=crawl5552@crawler-mvc.database.windows.net;Password=c567cfb189#!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:crawler-mvc.database.windows.net,1433;Initial Catalog=crawler-mvc;User Id=crawl5552@crawler-mvc.database.windows.net;Password=c567cfb189#!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CrawlerLibrary.Models.CrawlerContext" />
  </ItemGroup>
</Project>