@{
    ViewBag.Title = "Home Page";
}

<style>
    html, body, #loadingOverlay {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #loadingOverlay {
        z-index: 9001;
        position: absolute;
        background-color: white;
    }

    #main/*, #main div:first-child*/ {
        height: 100%;
        display: flex;
        flex-flow: column;
    }

    #searchBar {
        /*background-color: forestgreen;*/
        height: auto;
    }

    #searchResults {
        /*background-color: red;*/
        flex: 1 1 auto;
    }

    .vertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100% !important;
    }

    .form-control {
        max-width: none !important;
    }
</style>

<!--<div id="loadingOverlay" style="display: none">
    <p>Loading...</p>
</div>

<div id="searchForm">
    <form action="javascript:void(0);" id="searchForm">
        <input type="text" id="searchQuery" placeholder="Query" />
        <input type="submit" value="Search!" id="search" />
    </form>
</div>-->
<div class="container" id="main">
    <div class="row vertical-align" id="searchBar">
        <div class="col-md-2"></div>
        <div class="col-sm-8">
            <h1>KrawlR</h1>
            <form action="javascript:void(0);" id="searchForm">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="searchQuery" placeholder="Write something..." />
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" id="searchResults">
        asdfasdf
    </div>
</div>

<script type="text/javascript">

    var params = {};
    window.location.search
        .replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
            params[key] = value;
        }
    );

    var searching = false;

    var $searchForm = $("#searchForm");
    var $searchField = $("#searchQuery");

    var $loadingOverlay = $("#loadingOverlay");
    var $searchResults = $("#searchResults");
    var $searchBar = $("#searchBar");

    function doSearch(query) {
        searching = true;
        //$loadingOverlay.toggleClass("hidden");

        //$loadingOverlay.fadeIn(500).delay();
        $searchResults.html("Loading...");
        $searchBar.removeClass("vertical-align");

        $.ajax({
            method: "GET",
            //url: "/Dummy.json",
            url: "/api/search/" + query,
            data: { query: query }
        }).done(function (data) {

            $root = $(document.createElement("div"))
                .addClass("container");

            $.each(data, function (i, field) {

                $root.append(
                    $(document.createElement("div")).append(
                        $(document.createElement("a"))
                            .text(field.Title)
                            .attr("href", field.URL)
                    ).append(
                        $(document.createElement("p"))
                            .html(field.Text)
                    )
                );
            });

            $searchResults.html($root);

            //var JSONobj = $.parseJSON(data);
        }).fail(function (jqXHR, status, error) {

        }).always(function () {

            //$loadingOverlay.fadeOut(500);
            searching = false;
        });
    }


    $(window).load(function () {

        var query = params["q"];

        if (query.length > 0) {
            doSearch(query);
        }
    });

    $searchForm.submit(function (e) {

        console.log("Form submitted.");

        var query = $searchField.val();

        if (query.length > 0 && !searching) {
            history.pushState({}, "Results for \"" + query + "\"", "?q=" + query);
            doSearch(query);
        }

        e.preventDefault();
        return false;
    });
</script>

@*

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>

*@